body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 100px);
    gap: 6px;
}

.cell {
    width: 100px;
    height: 100px;
    background-color: #2c2c2c;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
    color: white;
    font-size: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: 0.2s;
}

.cell:hover {
    background-color: #404040;
}

.info {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

#message {
    text-align: center;
    font-size: 42px;
    position: absolute;
    top: 16rem;
}

#player-turn {
    text-align: center;
    font-size: 22px;
    font-style: italic;
    margin-top: 2rem;
    margin-bottom: 0;
}

#restart {
    border: none;
    padding: 0.75rem 1rem;
    font-size: 16px;
    border-radius: 8px;
    background-color: #2c2c2c;
    color: white;
    cursor: pointer;
    transition: 0.2s;
}

#restart:hover {
    background-color: #404040;
}